/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Yatra One', cursive;

}

body {
 background:url("fonddecranempire.jpg") no-repeat center fixed;
  background-size: cover; 
  -webkit-background-size: cover;
    font: 1em/150% 'Yatra One';
 }
 
 
article {
	width: 40%;
	margin-top: 10%;
	margin-bottom: 30%;
	margin-left: 30%;
	margin-right: 30%;
	padding:10px;
	font: 2em/200% 'Yatra One', cursive;
	color: 	#F8F8FF;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


